<script src="https://unpkg.com/vue"></script>
<div id="app">
  <div class="players">  
    <div>
      <h2>Jogador</h2>
      <div class="progreesbar">
        <span :class='{"critical" : menor(computedPlayerPercent) }' :style="{width:  ( computedPlayerPercent >= 0) ?  `${computedPlayerPercent}%` : 0 }"></span>
      </div>
      <div class="percentage"> {{ (playerPercent >=0) ? playerPercent : 0 }}%</div>
    </div>
    <div>
      <h2>Monstro</h2>
      <div class="progreesbar">
        <span :class='{"critical" : menor(computedMonsterPercent) }' :style="{width: ( computedMonsterPercent >= 0) ?  `${computedMonsterPercent}%` : 0 }"></span>
      </div>
      <div class="percentage"> {{ (monsterPercent >=0) ? monsterPercent : 0 }}%</div>
    </div>
  </div>

  <div class="start" v-if="!started">
    <button class="start" @click="init">Iniciar o jogo</button>  
  </div>
  <div class="start" v-if="started && finished">
    <button class="start" @click="reset">Iniciar novo jogo</button>  
  </div>

  <div class="actions" v-if="started && !finished">
    <button class="ataque" @click="attack().default()">Ataque</button>
    <button class="especial" @click="attack().special()">Ataque especial</button>
    <button class="curar" @click="recovery">Curar</button>
    <button @click="finish">Desistir</button>
  </div>
  <div class="message" v-if="started && finished">
    <p v-if="champion == 'player'">Você ganhou! :)</p>
    <p v-else class="fail">Você perdeu! :(</p>
  </div>

  <template v-if="!finished">
    <div class="feedback" v-for="log in logs">
      <template v-if="log.playerAttack">
        <div class="red">Monstro atingiu jogador com {{ log.monsterAttack }}.</div>
        <div class="purple">Jogador atingiu monstro com  {{ log.playerAttack }}.</div>
      </template>    
      <template v-else>
        <div class="red">Monstro atingiu jogador com {{ log.monsterAttack }}.</div>
        <div class="green">Jogador ganhou  {{ log.playerLife }} de vida.</div>
      </template>  
    </div>
  </template>
 
</div>
<script src="app.js"></script>

<style >
  body {
    font-family: Tahoma;
    text-align: center;
  }
   .players, .actions, .feedback, .message {
     display: flex;    
     flex-direction: row;
     margin-top: 20px;
    justify-content: center;
   }
   .players > div {
      width: 50%;
      margin: 0 5px;      
    }

    .players .progreesbar {
     width: 100%;
     height: 20px;
     background: #ddd;
     text-align: left;
    }
    .players .progreesbar span {
     display: inline-block;
     height: 20px;
     background: green;
    }

    .players .progreesbar .critical {
     background: red;
    }

    .message p {
      font-size: 30px;
      color: green;
    }
    .message .fail {
      color: red;
    }

    button {
      margin: 0 5px;  
      border: 0;
      height: 30px; 
      display: inline-block;
      background: #ddd;   
      padding: 0 10px;
      cursor: pointer;
      opacity: 0.8; 
    }
    button.start {
      background: blue;
      color: #fff;
      width: 330px;
      height: 40px;
    }
    button.ataque {
      background: tomato;
      color: #fff;
    }
    button.especial {
      background: orange;
    }
    button.curar {
      background: green;
      color: #fff;
    }
    button:hover { 
      opacity: 1; 
    }

    .feedback {   
     flex-direction: column;    
     margin-top: 40px; 
     padding: 0 200px;
    }

    .feedback div {
      height: 30px;
      line-height: 30px;
      background: #ddd;
      margin-bottom: 10px;
      color: #fff;
    }
    .feedback .purple {
      background: purple;
    }
    .feedback .red {
      background:red;
    }
    .feedback .green {
      background:green;
    }
   
  </style>